# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Electron
*.exe
*.dmg
*.app
*.AppImage

# Environment variables
.env
.env.*

# OS / Editor
**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/

# Logs
**/logs/
**/*.log

# Bracify
gui/engine/
gui/dist/
**/package-lock.json
!/package-lock.json
**/_sys/data.db
**/_dist/